
.button{
	-fx-font-weight: bold;
	-fx-background-color: white;	
	-fx-background-radius: 10;
	-fx-border-radius: 10;
	-fx-border-color:  #1049b9;
	-fx-border-width: 2;
	-fx-font-size: 20;
	-fx-text-fill: black;
}

.button:hover{
	-fx-font-weight: bold;
	-fx-background-color: white;
	/*-fx-pref-height: 66;
	-fx-pref-width: 132;*/
	
	-fx-background-radius: 10;
	-fx-border-radius: 10;
	-fx-font-size: 20;
	-fx-text-fill: black;
	-fx-border-color:  #1049b9;

	-fx-border-width: 3;
}
#logoutButton{
	-fx-border-color:  #eb4a00;
}
#logoutButton.button:hover{
	-fx-border-color:  #eb4a00;
	-fx-border-width: 3;
}
#gobackButton{
	-fx-border-color: black;
	-fx-font-size: 16;	
}
#gobackButton.button:hover{
	-fx-border-color: black;	
	-fx-border-width: 3;
}
#genertaeButton{
	-fx-font-size: 16;
	-fx-text-fill: white;
	-fx-pref-width: 160;	
	-fx-border-color: #bf0000;	
}
#genertaeButton.button:hover{
	-fx-font-size: 16;	
	-fx-border-color: #bf0000;
	-fx-border-width: 3;	
}
#copy{
	-fx-font-size: 12;
	-fx-background-color:  E5E4E2;	
	-fx-border-color: grey;
	-fx-border-width: 2;	
}
#copy.button:hover{
	-fx-font-size: 12;	
	-fx-border-color: grey;
	-fx-border-width: 3;	
}
#delete{
	-fx-font-size: 14;
	-fx-pref-width: 90;	
	-fx-text-fill: white;
	-fx-background-color:  E5E4E2;	
	-fx-border-color: #bf0000;
	-fx-border-width: 2;	
}
#delete.button:hover{
	-fx-border-color: #bf0000;
	-fx-border-width: 3;	
}
#refresh{
	-fx-font-size: 14;
	-fx-pref-width: 90;	
	-fx-background-color:  E5E4E2;	
	-fx-border-color: grey;
	-fx-border-width: 2;	
}
#refresh.button:hover{
	-fx-border-color: grey;
	-fx-border-width: 3;	
}
#confirm{
	-fx-font-size: 14;
	-fx-pref-width: 90;	
	-fx-text-fill: white;
	-fx-background-color:   #3367d6;	
	-fx-border-color: #1049b9;
	-fx-border-width: 2;	
}
#confirm.button:hover{
	-fx-border-color: #1049b9;
	-fx-border-width: 3;	
}
